/* Start Font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/* End Font */

/* Start Body */
body {
    background-image: url("images/background.jpg");
    color: black;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 5;
    padding: 5;
}

@media only screen and (max-width: 600px){
    body{
        font-size: 15px;
        color: darkcyan
    }

    .menu-primer li {
        border-right: 1px solid #d1d5da;
        width:100%;
    }
}
/* End Body */

/* Start Debug */
.bg-yellowgreen {
    background-color: yellowgreen;
}
.bg-orangered {
    background-color: orangered;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: #010911;
    text-decoration; none;
}
a:hover,
a:active {
    color: #000000
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #333333;
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
        text-align: center;
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    border-left: 1px solid #d1d5da;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/* End Heading */

/* Start Jumbotron*/
.jumbotron {
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron*/

/* Start Main */
.main-home-one {
    float: left;
    width: 50%;
}

.main-home-two {
    float: right;
    width: 50%;
}

.main-home-three {
    float: left;
    width: 100%;
}

.main-home-one .box-isi,
.main-home-two .box-isi,
.main-home-three .box-isi, {
    height: 140px;
}
/* End Main */

/* Start Box */
.box-heading {
    background-color: rgb(255, 255, 255);
    border: 1px solid #adcff8;
    border-radius: 3px 3px 0 0;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase
}
.box-heading h4 {
	font-size: 14px;
	margin: 0;
}
.box-isi {
	border: 1px solid #adcff8;
	border-top: 0;
	margin: 0;
	padding: 10px 20px;
}
/* End Box */

/* Start Menu Sekunder*/
.menu-sekunder {
	background-color: #adcff8;
	border-bottom: 1px solid;
	border-top: #eaecef;
	overflow: auto;
	padding: 10px 0;	
}
.menu-sekunder h4 {
	font-size: 14px;
	text-transform: uppercase;
}
/* End Menu Sekunder*/

/* Start Effect */

.snip1487 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
    line-height: 1.5em;
    display: inline-block;
  }
  .snip1487 *,
  .snip1487 *:before,
  .snip1487 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  .snip1487 img {
    width: calc(120%);
    backface-visibility: hidden;
    vertical-align: top;
  }
  .snip1487 figcaption {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    padding: 5px 40px;
    opacity: 0;
  }
  .snip1487 h3 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  .snip1487 p {
    font-weight: 400;
    margin: 0;
    font-size: 0.9em;
  }
  .snip1487 i {
    position: absolute;
    color: #fff;
    font-size: 34.375px;
    line-height: 55px;
    width: 55px;
    bottom: 0;
    right: 0;
    background-color: #c0392b;
    -webkit-transform: translateX(55px);
    transform: translateX(55px);
  }
  .snip1487 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .snip1487:hover img,
  .snip1487.hover img {
    zoom: 1;
    filter: alpha(opacity=30);
    -webkit-opacity: 0.3;
    opacity: 0.3;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  .snip1487:hover figcaption,
  .snip1487.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
  }
  .snip1487:hover i,
  .snip1487.hover i {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
/* End Effect */

/* Start untuk HP */
@media only screen and (max-width: 480px) {
	.main-home-one {
		/* float: left; */
		width: 100%;
	}
	
	.main-home-two {
		/* float: right; */
		width: 100%;
	}

}
}
/* End untuk HP */